body {
    font-family: Arial;
}

.item2 {
    max-width: 100%;
    height: auto;
}

.item {
    float:left;
}

.text1 {
    display:inline;
    position:absolute;
    left:675px;
    top:75px;
}

.text2 {
    display:inline;
    position:absolute;
    left:675px;
    top:715px;
}

.text3 {
    display:inline;
    position:absolute;
    left:675px;
    top:800px;
}
.h1 {
    text-align: center;
    font-size: 25px;
}

.h2 {
    text-align: center;
    font-size: 15px;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.child {
    width: 50%;

}

.child2 {
    width: 50%;
}

.bold {
    font-weight: bold;
    font-size: 22px;
}
